/.idea/*
/__pycache__/*
/MongoDB/*
/.idea/*
/__pycache__/*
/.idea/.gitignore
/.idea/AlgoTrader.iml
/.idea/misc.xml
/.idea/modules.xml
/__pycache__/argparse_func.cpython-38.pyc
/__pycache__/data_staging.cpython-38.pyc
/libs_posix/*
/data_handling/data_helpers/__pycache__/*
/main.py.*
/tasks/__pycache__/*
*__pycache__*
core_startup/__pycache__/*
data_handling/__pycache__/*
/data_handling/data_helpers/secrets.py
/.idea/AlgoTrader.iml
/.idea/misc.xml
/.idea/.gitignore
/.idea/AlgoTrader.iml
/.idea/misc.xml
/AlgoTrader.py
/AlgoTrader.py.log
/AlgoTrader.py.verbose.log
/AlgoTrader_ParseAggtrades.py.log
/AlgoTrader_ParseAggtrades.py.verbose.log
/AlgoTrader_ParseAggtrades.py.verbose.ssh.log
/AlgoTrader_TransformTradeData.py
/AlgoTrader_TransformTradeData.py.log
/AlgoTrader_TransformTradeData.py.verbose.log
/AlgoTrader_TransformTradeData.py.verbose.ssh.log
/AlgoTrader.py.verbose.ssh.log
